<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Spring</key>
	<dict>
		<key>Day</key>
		<dict>
			<key>None</key>
			<string></string>
			<key>Rain</key>
			<string></string>
			<key>Snow</key>
			<string></string>
		</dict>
		<key>Winter</key>
		<dict>
			<key>None</key>
			<string></string>
			<key>Rain</key>
			<string></string>
			<key>Snow</key>
			<string></string>
		</dict>
	</dict>
	<key>Summer</key>
	<dict>
		<key>Day</key>
		<dict>
			<key>None</key>
			<string></string>
			<key>Rain</key>
			<string></string>
			<key>Snow</key>
			<string></string>
		</dict>
		<key>Winter</key>
		<dict>
			<key>None</key>
			<string></string>
			<key>Rain</key>
			<string></string>
			<key>Snow</key>
			<string></string>
		</dict>
	</dict>
	<key>Fall</key>
	<dict>
		<key>Day</key>
		<dict>
			<key>None</key>
			<string></string>
			<key>Rain</key>
			<string></string>
			<key>Snow</key>
			<string></string>
		</dict>
		<key>Winter</key>
		<dict>
			<key>None</key>
			<string></string>
			<key>Rain</key>
			<string></string>
			<key>Snow</key>
			<string></string>
		</dict>
	</dict>
	<key>Winter</key>
	<dict>
		<key>Day</key>
		<dict>
			<key>None</key>
			<string></string>
			<key>Rain</key>
			<string></string>
			<key>Snow</key>
			<string></string>
		</dict>
		<key>Winter</key>
		<dict>
			<key>None</key>
			<string></string>
			<key>Rain</key>
			<string></string>
			<key>Snow</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
